./dump/*
./dump*
./output/*
./output*
./venv*
./venv/*
./__pycache__*
./__pycache__/*
./__pycache__
*.pyc
*pychache*
venv/
win_venv/
**/__pycache__/
.vscode
./__pycache__/*
dump/*
output/*
quickcommand/*

