{% extends "layout.html" %}
{% block content %}
    <h3> About Page</h3>
    <p></p>
    <p>Networkdump 1.1 is a smaller subset of Networkdump graphing isn't includet.</p>
    <p>This should help networkengineers for giving an overview of new networks. It will ask for IP-Network to do a TCP-Portscan to find Devices responding to SSH. It will try to login and find the devicetype</p>
    <p>Then it will login and execute a buntch of "show-commands" depending on devicetype.</p>
    <p>This files can be downloadet and can be used for generating Nautobot or Graphings.</p>
    <p></p>
    <p>This was done by Gernot Eder</p>
    <p>                     (c)2023 </p>
    <p></p>
    <p>Release Nodes:</p>
    <p>2.8.2023: added Quickcommands, fixed Dockerfile, fixed delete data</p>
{% endblock content %}
