{% extends "layout.html" %}
{% block content %}
    <h3> About Page</h3>
    <p></p>
    <p>Networkdump 1.1 is a smaller subset of Networkdump graphing isn't includet.</p>
    <p>This should help networkengineers for giving an overview of new networks. It will ask for IP-Network to find Devices. It will try to login and find the devicetype</p>
    <p>Then it will login and execute a buntch of "show-commands" depending on devicetype.</p>
    <p>This files can be downloaded and can be used for autofilling Nautobot-container or drawings and excel-files.</p>
    <p></p>
    <p>This was done by Gernot Eder</p>
    <p>                     (c)2023 </p>
    <p></p>
    <p>Release Nodes:</p>
    <p>02.08.2023: added quickcommands, fixed dockerfile, fixed delete data</p>
    <p>29.12.2023: added "enable" checkbox in device-view</p>
    <p>08.01.2024: added "Delete Files"</p>
{% endblock content %}
