.{% extends "layout.html" %}
{% block content %}
    <h3> About Page (release nodes)</h3>
    <p></p>
  <ul>
  <li><strong>02.08.2023:</strong> Added quick commands, fixed Dockerfile, fixed data deletion</li>
  <li><strong>29.12.2023:</strong> Added "Enable" checkbox in Device View</li>
  <li><strong>08.01.2024:</strong> Added "Delete Files and Enable/Disable All"</li>
  <li><strong>04.07.2024:</strong> Added device import. This is available at the URL <code>/import</code>. The <code>device-file.csv</code> must be located in the <code>./dump</code> folder. 
    <br>Only one username is supported (Quick & Dirty). <strong>DEPRECATED!</strong></li>
  <li><strong>30.07.2024:</strong> Added <code>access_port</code> utility to configure access ports. Use URL <code>/access</code></li>
  <li><strong>28.07.2024:</strong> Extended <code>access_port</code> utility to perform a backup to flash before making changes</li>
  <li><strong>14.11.2024:</strong> Added DHCP-Snooping utility to enable DHCP snooping. Use URL <code>/dhcp</code></li>
  <li><strong>18.11.2024:</strong> Added connectivity check and device file export</li>
  <li><strong>19.11.2024:</strong> Enabled device import via GUI, deprecated old "hidden" import</li>
  <li><strong>05.12.2024:</strong> Added SSH login from Device View</li>
  <li><strong>05.02.2025:</strong> Added commands for Catalyst 9800 WLAN dumps</li>
  <li><strong>19.02.2025:</strong> Added generation of CSV files from dumps</li>
  <li><strong>15.06.2025:</strong> Added generation of XML files for Draw.io import</li>
  <li><strong>07.07.2025:</strong> Added software upgrade under Device View (only Cisco IOS, IOS-XE, and ASA)</li>
  <li><strong>09.09.2025:</strong> Removed CSV files from dumps. Added Excel files to dump output</li>
  <li><strong>11.09.2025:</strong> Improved Draw.io export. Now generates a reduced XML file excluding unparsed devices</li>
  <li><strong>04.11.2025:</strong> Try Telnet during discovery if SSH Timeout. Use "enable" after login</li>
</ul>
{% endblock content %}
