{% extends "layout.html" %}
{% block content %}
    <h3> Device Overview </h3>
    <form action="save_activation" method="POST">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>IP-Addr</th>
                    <th>Username</th>
                    <th>Type</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <thead>
                {% for device in devices %}
                    <tbody>
                        <tr>
                            <td scope="row">{{ device.name }}</td>
                            <td>{{ device.ip_addr }}</td>
                            <td>{{ device.username }}</td>
                            <td>{{ device.type }}</td>
                            <td>
                                <input type="checkbox" name="enabled_{{ device.ip_addr }}" {% if device.enabled %}checked{% endif %}>
                            </td>
                        </tr>
                    </tbody>    
                {% endfor %}
            </thead>
        </table>
        <label for="enable_all">Enable All:</label>
        <input type="checkbox" name="enable_all">
        <label for="disable_all">Disable All:</label>
        <input type="checkbox" name="disable_all">
        <br>
        <button type="submit">save settings</button>
    </form>
{% endblock content %}