{% extends "layout.html" %}
{% block content %}
    <h1>QuickCommands</h1>
    <legend class="border-bottom mb-4"></legend>
    <div class="contents-selection">
        <form method="POST" action="">
            {{ form.hidden_tag() }}  
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter the commands you want to execute. Check config-checkbox if you wand to do the configurtion</legend>
                <div class"form-group">
                    {{ form.commands.label(class="form-control-label") }}
                    {% if form.commands.errors %}
                        {{ form.commands(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.commands.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.commands(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class"form-group">
                    {{ form.config.label(class="form-control-label") }}
                    {{ form.config(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <legend class="border-bottom mb-4"></legend>
            <p>When pressing the button, commands will executed on enabled devices</p>
            <p>This can take a while</p>
            <div class"form-group">
                {{ form.submit(class="btn btn-outline-dark") }}
            </div>
        </form>
    </div>

{% endblock content %}
